<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="ConfigTraceSource" switchName="defaultSwitch">
        <listeners>
          <add initializeData="Configtxt_TraceFile.txt" name="configtxt_listener"
               traceOutputOptions="DateTime"
               type="System.Diagnostics.TextWriterTraceListener">
            <filter type="System.Diagnostics.EventTypeFilter"
                    initializeData="Error"/>
          </add>
          <add name="configconsole_listener" />
          <add name="configxml_listener" />
          <add name="configdelimited_listener" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="configoutput.xml" type="System.Diagnostics.XmlWriterTraceListener"
            name="configxml_listener" traceOutputOptions="None" />
      <add type="System.Diagnostics.ConsoleTraceListener" name="configconsole_listener"
            traceOutputOptions="None" />
      <add type="System.Diagnostics.DelimitedListTraceListener"
          delimiter="," name="configdelimited_listener"
          initializeData="delimitedOutput.csv"
          traceOutputOptions="ProcessId, DateTime" />
    </sharedListeners>
    <switches>
      <!--<add name="myswitch" value="Verbose" />-->
      <add name="defaultSwitch" value="All" />
    </switches>
  </system.diagnostics>
</configuration>

